<!DOCTYPE html>

<html lang="en">

<head>
    <title> AutonoSky || {% block title %} {% endblock %}</title>
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/navigation.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/fonts.css') }}" rel="stylesheet">
    {% block script %}
    {% endblock %}
    {% block meta %}
    {% endblock %}
</head>

<body>
    <header>
        <img src="https://byteorbit.com/static/img/byte-orbit-logo.6e2270b89a31.svg">
        <h1 id="title">
            Computer Vision Demonstration
        </h1>
    </header>

    <div>
        <div class="menu-bar">
            <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;">
                <li style="float: left;"><a class="menu-bar" style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;" id="HomePageLink" href="{{ url_for('index') }}">Home</a></li>
                <li style="float: left;"><a class="menu-bar" style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;" id="StreamPageLink" href="{{ url_for('stream') }}">Normal Stream</a></li>
                <li style="float: left;"><a class="menu-bar" style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;" id="ModeledStreamPageLink" href="{{ url_for('modeled') }}">Facial Recognition</a></li>
                <li style="float: left;"><a class="menu-bar" style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;" id="ModeledStreamPageLink" href="{{ url_for('tracking') }}">Tracking</a></li>
                <li style="float:right"><a class="menu-bar" style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;" id="MainSiteLink" href="{{ url_for('main_site') }}">Return</a></li>
            </ul>
            {% block nav %}
            {% endblock %}

        </div>

        <div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>

</html>