{% extends "layout.html" %}

{% block title %}
    Modeled Live Stream
{% endblock %}

{% block body %}
  <div>
      <div class="vid-container">
          <h2>Facial Recognition Processing</h2>
          <img class="video" src="{{ url_for('recognition_feed') }}">
      </div>
      <div class="vid-container">
          <h2>Identified</h2>
          <div class="face-scroll">
              <img src="{{ url_for('identified_feed') }}" alt="{{ url_for('static', filename='images/black.jpeg') }}">
          </div>
      </div>
      <div class="vid-container">
          <h2>Unidentified</h2>
          <div class="face-scroll">
              <img src="{{ url_for('unidentified_feed') }}" alt="{{ url_for('static', filename='images/black.jpeg') }}">
          </div>
      </div>
  </div>

  
{% endblock %}